<div id='corpo'>
<h1 style="text-align:center">:P AGENDA WEB</h1>

<% if current_user %>
	<p>Logado como: <%= current_user.email %></p>
<% else %>
	<p>Nao esta logado</p>
<% end %>

<%= link_to "Visualizar Contatos", contatos_path %>
<p></p>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
</div>